<div class="container">
    <div class="row help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 6: Modify cookies
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Goal</div>

            <div class="help-content">
                Pages are restricted to users with a specific cookie.
                Change your cookies before accessing this page.
            </div>

            <div class="help-title">Documentation</div>

            <div class="help-code">
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-puppeteerlaunchoptions">Puppeteer.launch()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-browsernewpage">Puppeteer.newPage()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagesetcookiecookies">Puppeteer.Page.setCookie()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagegotourl-options">Puppeteer.Page.goto()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagewaitforselectorselector-options">Puppeteer.Page.waitForSelector()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pageaddscripttagoptions">Puppeteer.Page.addScriptTag()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pageevaluatepagefunction-args">Puppeteer.Page.evaluate()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagescreenshotoptions">Puppeteer.Page.screenshot()</a></br>
                <a target="_blank" href="https://hub.phantombuster.com/reference#buster-setresultobject">buster.setResultObject()</a></br>
            </div>

            <div class="help-title">Instructions</div>

            <div class="help-content">
                <ol>
                    <li>
                        Create the agent <code>scraping-challenge-6</code>
                    </li>

                    <li>
                        Create a cookie named <code>phantomCookie</code> and with the value <code>sample_value</code>.
                    </li>

                    <li>
                        Access this page using <code>Puppeter.Page.goto()</code> and <code>Puppeter.Page.waitForSelector()</code>.
                    </li>

                    <li>
                        Send the data using <code>buster.setResultObject()</code>.
                    </li>
                </ol>
            </div>

            <div class="help-title">Solution</div>

            <div class="help-content">
                <a href="#/scripts/scraping-challenge-6.js">In case you are stuck</a>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1>WRONG COOKIES</h1>

        <h2>Change your "phantomCookie" cookie before accessing the site.</h2>
    </div>

</div>
