<div class="container">
    <div class="help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 5: Bypass CAPTCHA
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Goal</div>

            <div class="help-content">
                Pages are restricted with a CAPTCHA.
                Solve the CAPTCHA below to see the data.
            </div>

            <div class="help-title">Documentation</div>

            <div class="help-code">
                <a target="_blank" href="https://hub.phantombuster.com/reference#buster-solvecaptcha">buster.solveCaptcha()</a>
            </div>

            <div class="help-title">Instructions</div>

            <div class="help-content">
                <ol>
                    <li>
                        Create the agent <code>scraping-challenge-5</code>
                    </li>

                    <li>
                        Access this page using <code>tab.open()</code> and <code>tab.waitUntilVisible()</code>.
                    </li>

                    <li>
                        Use the function <code>buster.solveCaptcha()</code> to resolve the image.
                    </li>

                    <li>
                        Fill the form using <code>tab.fill()</code> and use <code>tab.waitUntilVisible()</code> to make sure the data loaded.
                    </li>

                    <li>
                        Send the data using <code>buster.setResultObject()</code>.
                    </li>
                </ol>
            </div>

            <div class="help-title">Solution</div>

            <div class="help-content">
                <a href="#">Lien vers un script d'example</a>
            </div>
        </div>
    </div>

    <form method="post" action="/captcha/solve">
        <img class="captcha-img" src="{{captcha}}"></img></br>
        <div class="form-group">
            <label for="captcha">Please solve the CAPTCHA below.</label>
            <input type="captcha" class="form-control" name="captcha" id="captcha" placeholder="abcde">
        </div>
        <button type="submit" class="btn btn-default">Send</button>
    </form>
</div>
