<div class="container">
    <div class="row help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 4: Bypass the Login Form
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Goal</div>

            <div class="help-content">
                Pages are restricted to a logged user.
                Add a login request to the scraper.
            </div>

            <div class="help-content">
                Email is <span class="important">john@doe.com</span> and password is <span class="important">johnjohn</span>.
            </div>

            <div class="help-title">Documentation</div>

            <div class="help-code">
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-puppeteerlaunchoptions">Puppeteer.launch()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-browsernewpage">Puppeteer.newPage()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagesetuseragentuseragent">Puppeteer.Page.setUserAgent()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagegotourl-options">Puppeteer.Page.goto()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagewaitforselectorselector-options">Puppeteer.Page.waitForSelector()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagetypeselector-text-options">Puppeteer.Page.type()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pageclickselector-options">Puppeteer.Page.click()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pageaddscripttagoptions">Puppeteer.Page.addScriptTag()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pageevaluatepagefunction-args">Puppeteer.Page.evaluate()</a></br>
                <a target="_blank" href="https://pptr.dev/#?product=Puppeteer&version=v2.0.0&show=api-pagescreenshotoptions">Puppeteer.Page.screenshot()</a></br>
                <a target="_blank" href="https://hub.phantombuster.com/reference#buster-setresultobject">buster.setResultObject()</a></br>
            </div>

            <div class="help-title">Instructions</div>

            <div class="help-content">
                <ol>
                    <li>
                        Create the agent <code>scraping-challenge-4</code>
                    </li>

                    <li>
                        Access this page using <code>Puppeteer.Page.goto()</code> and <code>Puppeteer.Page.waitForSelector()</code>.
                    </li>

                    <li>
                        Use the functions <code>Puppeteer.Page.type()</code> and <code>Puppeteer.Page.click()</code> to login using the form and use <code>Puppeteer.Page.waitForSelector()</code> to make sure the data loaded.
                    </li>

                    <li>
                        Send the data using <code>buster.setResultObject()</code>.
                    </li>
                </ol>
            </div>

            <div class="help-title">Solution</div>

            <div class="help-content">
                <a href="/scripts/scraping-challenge-4.js">In case you are stuck</a>
            </div>
        </div>
    </div>

    <form method="post" action="/login/auth">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" id="email" placeholder="Email">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Password">
        </div>

        <button type="submit" class="btn btn-default">Connect</button>
    </form>
</div>
