<div class="container">
    <div class="row help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 0: Find the Export Button
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Goal</div>

            <div class="help-content">
                Sometimes you can get your data just by clicking a button and even that you can do it with Phantombuster very easily.
            </div>

            <div class="help-title">Documentation</div>

            <div class="help-code">
                <a target="_blank" href="https://hub.phantombuster.com/reference#buster-download">buster.download()</a></br>
            </div>

            <div class="help-title">Instructions</div>

            <div class="help-content">
                <ol>
                    <li>
                        Create the agent <code>scraping-challenge-0</code>
                    </li>

                    <li>
                        Find on this page the url where you can download the csv (right click on the button → copy link address).
                    </li>

                    <li>
                        Download the link with <code>buster.download()</code>.
                    </li>
                    <li>
                        Just enjoy your csv after launching your code.
                    </li>
                </ol>
            </div>

            <div class="help-title">Solution</div>

            <div class="help-content">
                <a href="/scripts/scraping-challenge-0.js">In case you are stuck</a>
            </div>
        </div>
    </div>

    <a href="/csv/export" class="btn btn-primary" target="_blank">Export all profiles</a>
</div>
