<div class="container">
    <div class="jumbotron">
        <h1>Scraping Challenges with Phantombuster</h1>

        <p>
            Welcome to the Scraping Challenges.
            This is a fork of <a target="_blank" href="https://github.com/fabienvauchelles">fabienvauchelles</a>' project, you can check out his work <a target="_blank" href="https://scraping-challenge.herokuapp.com/">here</a>.
        </p>

        <p>
            So you think you know how to scrape? Test your <a target="_blank" href="https://phantombuster.com">Phantombuster</a> and <a target="_blank" href="https://nickjs.org">NickJS</a> skills with these challenges.
            If you don't have a Phantombuster account yet, create one <a target="_blank" href="https://phantombuster.com/register">here</a> (it's free).
        </p>

        <p>
            <a class="btn btn-primary btn-lg" href="/ch1" role="button">Start with the first challenge</a>
        </p>
    </div>

    <div class="list-challenges">
        <ul>
            <li><a href="/ch0">Challenge 0: Find the Export Button</a></li>
            <li><a href="/ch1">Challenge 1: All in One Page</a></li>
            <li><a href="/ch2">Challenge 2: Split on Multiple Pages</a></li>
            <li><a href="/ch3">Challenge 3: Bypass User Agent Filter</a></li>
            <li><a href="/ch4">Challenge 4: Bypass the Login Form</a></li>
            <li><a href="/ch5">Challenge 5: Bypass CAPTCHA</a></li>
            <li><a href="/ch6">Challenge 6: Modify cookies</a></li>
        </ul>
    </div>
</div>
