<div class="container">
    <div class="jumbotron">
        <h1>Hello, Mr and Mrs Scraper!</h1>

        <p>
            Welcome on the Scraping Challenge.
            This is a fork of <a href="https://github.com/fabienvauchelles">fabienvauchelles</a> project, if you prefer python over Javascript go check his work <a href="https://scraping-challenge.herokuapp.com/">here</a>.
        </p>

        <p>
            <a class="btn btn-primary btn-lg" href="/ch1" role="button">Start with the first challenge</a>
        </p>
    </div>

    <div class="list-challenges">
        <ul>
            <li>Challenge 0: Find the Export Button</li>
            <li>Challenge 1: All in One Page</li>
            <li>Challenge 2: Split on Multiple Pages</li>
            <li>Challenge 3: Bypass User Agent Filter</li>
            <li>Challenge 4: Bypass the Login Form</li>
            <li>Challenge 5: Bypass CAPTCHA</li>
            {{!--<li>Challenge 6: Bypass IP Filter with Scrapoxy</li>--}}
        </ul>
    </div>
</div>
