<div class="container">
    <div class="row help panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Challenge 3: Bypass User Agent Filter
            </div>
        </div>
        <div class="panel-body">
            <div class="help-title">Goal</div>

            <div class="help-content">
                Pages are restricted to Chrome only.
                Try with Chrome AND Firefox and change the user agent.
            </div>

            <div class="help-title">Documentation</div>

            <div class="help-code">
                <a target="_blank" href="https://hub.phantombuster.com/reference#nick">const nick = new Nick(options)</a></br>
            </div>

            <div class="help-title">Instructions</div>

            <div class="help-content">
                <ol>
                    <li>
                        Create the agent <code>scraping-challenge-1</code>
                    </li>

                    <li>
                        When creating your nick, put the option <code>userAgent: "Mozilla/5.0 (Windows NT 6.1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/41.0.2228.0 Safari/537.36"</code> to imitate Chrome browser.
                    </li>

                    <li>
                        Access this page using <code>tab.open()</code> to open the page.
                    </li>

                    <li>
                        Wait for an element to load before scraping with <code>tab.waitUntilVisible()</code>.
                    </li>

                    <li>
                        Use the function <code>tab.inject()</code> to inject jQuery in the page.
                    </li>

                    <li>
                        Create a function to scrape the page with jQuery now that it is injected and execute it in the page using <code>tab.evaluate()</code>.
                    </li>

                    <li>
                        Send the data using <code>buster.setResultObject()</code>.
                    </li>
                </ol>
            </div>

            <div class="help-title">Solution</div>

            <div class="help-content">
                <a href="/scripts/scraping-challenge-3.js">In case you are stuck</a>
            </div>
        </div>
    </div>

    <div class="jumbotron">
        <h1>HTTP/503. Forget me, scraper. </h1>

        <h2>Only Chrome is allowed!</h2>
    </div>
</div>
